.bg-color{
  background-color: #fff;
}
.container{
  padding: 0px;
  text-align: center;
}
body{
  text-align: center;
  font-weight: bold;
}

/* nav */
.bl-navbar {
  background-color: #2c3e50;
  color: #fff;
}

.navbar-default{
  border:none;
  margin: 0;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
}

.bl-navbar .navbar-brand {
  font-size:24px;
  font-weight: bolder;
}

.bl-navbar .navbar-nav>li>a {
  font-weight: bolder;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav>li>a:hover {
  color: #1ABC9C;
}
/* /nav */

header{
  background-color: #1abc9c;
  padding-bottom: 20px;
  width: 100%;
  margin-bottom: 30px;
}
header>img{
  height: 200px;
  width: 200px;
  margin-top: 20px;
}
h1{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
h2{
  text-transform: uppercase;
  color: #454545;
  font-size: 20px;
  font-weight: bold;
}
h3{
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

/* stella */

.star-separator {
    font-size: 30px;
    font-weight: 900;
}

.star-separator i {
  line-height: 4px;
  vertical-align: middle;
}

.star-separator::before,
.star-separator::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
}

.star-separator.star-white::before, .star-separator.star-white::after {
  background-color: white;
}

.star-separator.star-white{
  color:white;
}

.star-separator.star-dark::before, .star-separator.star-dark::after {
  background-color: #2c3e50;
}

.star-separator.star-dark{
  color:#2c3e50;
}

/* /stella */

.immagini img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
}

.about{
  height: 500px;
  background-color: #1abc9c;
  color: #fff;
}
.about>h2{
  color: #fff;
  font-size: 30px;
}
p{
  margin: 2% 30%
}
.bottone{
}
.bottone>div{
  border: 1px solid #fff;
  height: 50px;
  width: 150px;
  margin-left:50%;
  line-height: 50px;
  border-radius: 10px;
}
